/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

@media print {
  body {
    width: 216mm;
    height: 279mm;
    margin: 20mm 35mm 20mm 35mm;
    /* change the margins as you want them to be. */
  }
}
