.cv-section {
  @apply flex mb-4;
}

.cv-heading-section {
  @apply w-1/2 px-2;
}

.cv-body-section {
  @apply w-1/2 px-2;
}

.homeaddress {
  @apply float-right;
}

.cv {
  width: 216mm;
  height: 279mm;
  margin: 20mm 35mm 20mm 35mm;
  /* change the margins as you want them to be. */
}
